<h1>New Entry</h1>

<form action="/entries" method="post">
  <p>
    <label for="title">Activity Title</label>
    <input type="text" name="title" id="title">
    <label for="description">Activity Description</label>
    <input type="text" name="description" id="description">
  </p>
  <p>
  <label for="occurred_on">This Happened On (yyyy-mm-dd):</label>
  <input type="t.date" name="occurred_on" id="occurred_on">
  <input type="hidden" name="place_id" value="<%= params["place_id"]%>">
  <input type="hidden" name="created_at" value="<%= Time.current %>">
  <input type="hidden" name="updated_at" value="<%= Time.current %>">
  </p>
  <button>Submit</button>
</form>
